{% extends "base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}


{% block content %}
<div class="container">
    <h1>{{config.get('TITLE')}}</h1>

    <div class="jumbotron">
        <ul class="list-group">
            <h2>Schedules</h2>
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Person</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                    
                    <tr>
                        <td>{{ schedule.room.name }}</td>
                        <td>{{ schedule.room.room_type.description }} nº {{ schedule.room.number }}</td>
                        <td>{{schedule.user.first_name}} {{schedule.user.last_name}} </td>
                        <td>{{ schedule.date }}</td>
                        <td>{{ schedule.start_time }}</td>
                        <td>{{ schedule.end_time }}</td>
                        <td>{{ schedule.status }}</td>
                        <td><a href="{{url_for('webui.scheduleview', schedule_id=schedule.id)}}">View</a></td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
    

</div>
{% endblock %}